In [1]:
import sys
print(f"Python version: {sys.version}")
# Test basic functionality
print("Yes Python is working correctly!")

Python version: 3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]
Yes Python is working correctly!

In [2]:
print("Hello, World!") # Function call
x = 5 # Variable assignment
y = 10 # No need to declare type

Hello, World!

In [3]:
Name = "John"
name = "Jane"
print(Name, name) # Different variables

John Jane

In [4]:
if x > 0:
  print("x is positive") # 4 spaces indentation
  print("This is inside the if block")

x is positive
This is inside the if block

In [5]:
age = 25 # int
height = 5.9 # float
complex_num = 3 + 4j # complex

In [6]:
name = "Alice"
message = 'Hello World'
multiline = """This is a
multiline string"""

In [7]:
is_active = True
is_finished = False

In [8]:
print(type(age)) #
print(type(height)) #
print(type(name)) #

<class 'int'>
<class 'float'>
<class 'str'>

In [9]:

str_number = "123"
int_number = int(str_number)
float_number = float(str_number)

print(f"Original: {str_number} (type: {type(str_number)})")
print(f"Integer: {int_number} (type: {type(int_number)})")
print(f"Float: {float_number} (type: {type(float_number)})")

Original: 123 (type: <class 'str'>)
Integer: 123 (type: <class 'int'>)
Float: 123.0 (type: <class 'float'>)

In [10]:
first_name = "Your First Name"
last_name = "Your Last Name"
age = 25
height = 5.8
is_student = True

In [11]:

print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Student: {is_student}")

Name: Your First Name Your Last Name
Age: 25
Height: 5.8 feet
Student: True

In [12]:
age_str = str(age)
height_int = int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 25
Height as integer: 5

In [13]:

a = 10
b = 3

print(f"Addition: {a} + {b} = {a + b}")
print(f"Subtraction: {a} - {b} = {a - b}")
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Division: {a} / {b} = {a / b}")
print(f"Floor Division: {a} // {b} = {a // b}")
print(f"Modulus: {a} % {b} = {a % b}")
print(f"Exponentiation: {a} ** {b} = {a ** b}")

Addition: 10 + 3 = 13
Subtraction: 10 - 3 = 7
Multiplication: 10 * 3 = 30
Division: 10 / 3 = 3.3333333333333335
Floor Division: 10 // 3 = 3
Modulus: 10 % 3 = 1
Exponentiation: 10 ** 3 = 1000

In [14]:
result = 2 + 3 * 4 ** 2 - 1
print(f"2 + 3 * 4 ** 2 - 1 = {result}")

2 + 3 * 4 ** 2 - 1 = 49

In [15]:

x = 5
y = 10

print(f"{x} == {y}: {x == y}") # Equal to
print(f"{x} != {y}: {x != y}") # Not equal to
print(f"{x} < {y}: {x < y}") # Less than
print(f"{x} > {y}: {x > y}") # Greater than
print(f"{x} <= {y}: {x <= y}") # Less than or equal
print(f"{x} >= {y}: {x >= y}") # Greater than or equal

5 == 10: False
5 != 10: True
5 < 10: True
5 > 10: False
5 <= 10: True
5 >= 10: False

In [16]:
name1 = "Alice"
name2 = "Bob"
print(f"'{name1}' < '{name2}': {name1 < name2}") # Alphabetical order

'Alice' < 'Bob': True

In [17]:
p = True
q = False

print(f"p and q: {p and q}") # Both must be True
print(f"p or q: {p or q}") # At least one must be True
print(f"not p: {not p}") # Opposite of p

p and q: False
p or q: True
not p: False

In [18]:
age = 20
has_license = True
can_drive = age >= 18 and has_license
print(f"Can drive: {can_drive}")

Can drive: True

In [19]:
score = 85
is_present = True
can_pass = score >= 80 and is_present
print(f"Can pass: {can_pass}")

Can pass: True

In [20]:
age = 25
annual_income = 50000
credit_score = 720
has_collateral = True

In [21]:
min_age = 18
min_income = 30000
min_credit_score = 650

In [22]:
age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified


print("=== Loan Qualification Check ===")
print(f"Age: {age} (Required: {min_age}) - {'Yes' if age_qualified else 'No'}")
print(f"Income: ${annual_income} (Required: ${min_income}) - {'Yes' if income_qualified else 'No'}")
print(f"Credit Score: {credit_score} (Required: {min_credit_score}) - {'Yes' if credit_qualified else 'No'}")
print(f"Has Collateral: {'Yes' if has_collateral else 'No'}")
print(f"\nOverall Qualification: {'QUALIFIED' if overall_qualified else 'NOT QUALIFIED'}")

=== Loan Qualification Check ===
Age: 25 (Required: 18) - Yes
Income: $50000 (Required: $30000) - Yes
Credit Score: 720 (Required: 650) - Yes
Has Collateral: Yes

Overall Qualification: QUALIFIED

In [23]:
fruits = ["apple", "banana", "orange", "grape"]
numbers = [10, 20, 30, 40, 50]
mixed_data = [1, "Hello", 3.14, True]

In [24]:
print(f"First 2 fruits: {fruits[0:2]}")
print(f"Last 2 fruits: {fruits[-2:]}")
print(f"All except first: {fruits[1:]}")

First 2 fruits: ['apple', 'banana']
Last 2 fruits: ['orange', 'grape']
All except first: ['banana', 'orange', 'grape']

In [25]:
fruits.append("kiwi") # Add to end
fruits.insert(1, "strawberry") # Insert at index
removed = fruits.pop() # Remove last
print(f"Updated list: {fruits}")
print(f"Removed: {removed}")

Updated list: ['apple', 'strawberry', 'banana', 'orange', 'grape']
Removed: kiwi

In [26]:
print(f"Length: {len(fruits)}")
print(f"Contains 'apple': {'apple' in fruits}")
print(f"Index of 'banana': {fruits.index('banana')}")

Length: 5
Contains 'apple': True
Index of 'banana': 2

In [27]:
coordinates = (10, 20)
rgb_color = (255, 128, 0)
person_info = ("Alice", 25, "Engineer", True)

In [28]:
x, y = coordinates
print(f"X: {x}, Y: {y}")

X: 10, Y: 20

In [29]:
print(f"Count of 25: {person_info.count(25)}")
print(f"Index of 'Engineer': {person_info.index('Engineer')}")

Count of 25: 1
Index of 'Engineer': 2

In [30]:

person = {
"name": "Alice Johnson",
"age": 23,
"profession": "Software Engineer",
"salary": 75000,
"skills": ["Python", "JavaScript", "SQL"]
}

In [31]:
print(f"Name: {person['name']}")
print(f"Age: {person.get('age', 'Unknown')}") # Safe access

Name: Alice Johnson
Age: 23

In [32]:
print(f"Keys: {list(person.keys())}")
print(f"Values: {list(person.values())}")
print(f"Items: {list(person.items())}")

Keys: ['name', 'age', 'profession', 'salary', 'skills']
Values: ['Alice Johnson', 23, 'Software Engineer', 75000, ['Python', 'JavaScript', 'SQL']]
Items: [('name', 'Alice Johnson'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 75000), ('skills', ['Python', 'JavaScript', 'SQL'])]

In [33]:
person["location"] = "New York"
person["salary"] = 80000 # Update existing

In [34]:
inventory = {
"laptops": {"quantity": 50, "price": 999.99},
"phones": {"quantity": 100, "price": 599.99},
"tablets": {"quantity": 30, "price": 399.99}
}

In [35]:
print(f"Laptop price: ${inventory['laptops']['price']}")

Laptop price: $999.99

In [36]:

colors = {"red", "green", "blue", "red"} # Duplicate removed
print(f"Colors: {colors}")

Colors: {'red', 'blue', 'green'}

In [37]:
team1_skills = {"Python", "JavaScript", "SQL", "React"}
team2_skills = {"JavaScript", "SQL", "Java", "Spring"}

In [38]:
print(f"Common skills: {team1_skills.intersection(team2_skills)}")
print(f"All skills: {team1_skills.union(team2_skills)}")
print(f"Team1 only: {team1_skills.difference(team2_skills)}")

Common skills: {'SQL', 'JavaScript'}
All skills: {'Python', 'SQL', 'React', 'Java', 'Spring', 'JavaScript'}
Team1 only: {'React', 'Python'}

In [39]:
colors.add("yellow")
colors.update(["purple", "orange"])
print(f"Updated colors: {colors}")

Updated colors: {'red', 'blue', 'purple', 'orange', 'yellow', 'green'}

In [40]:

def get_grade_letter(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

In [41]:

test_scores = [95, 83, 72, 65, 58]
for score in test_scores:
  grade = get_grade_letter(score)
  print(f"Score {score}: Grade {grade}")

Score 95: Grade A
Score 83: Grade B
Score 72: Grade C
Score 65: Grade D
Score 58: Grade F

In [42]:
def get_shipping_cost(weight, distance):
  base_cost = 5.0

  if weight <= 1:
    weight_cost = 2.0
  elif weight <= 5:
    weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 3.0
  else:
    distance_cost = 7.0
  return base_cost + weight_cost + distance_cost